.button1 {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 32px;
    background-image: url("project://database/Assets/UI%20Toolkit/Assets/Button1/SPR_HUD_FantasyWarrior_Box_Small_Parchment_02.png?fileID=21300000&guid=fc4bbb1265a4ce6459d98288dc673fdd&type=3#SPR_HUD_FantasyWarrior_Box_Small_Parchment_02");
    -unity-slice-left: 56;
    -unity-slice-top: 56;
    -unity-slice-right: 56;
    -unity-slice-bottom: 56;
    height: 70px;
    flex-direction: row;
    align-items: center;
    transition-duration: 0.2s;
    -unity-text-align: middle-left;
}

.button1:hover {
    scale: 1.05 1.05;
}

.button1-d {
    -unity-background-image-tint-color: rgba(13, 31, 36, 0.9);
    color: rgba(13, 31, 36, 0.9);
}

.button1-s {
    -unity-background-image-tint-color: rgba(212, 164, 77, 0.9);
    color: rgba(212, 164, 77, 0.9);
}
