.unity-text-element {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/FontLibrary/Fonts/ZhanKuKuaiLeTi2016XiuDingBan-1%20SDF.asset?fileID=11400000&guid=bfff56d8c0e9dbc47a280352ff36f125&type=2#ZhanKuKuaiLeTi2016XiuDingBan-1 SDF");
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
    -unity-font: url("project://database/Assets/UI%20Toolkit/FontLibrary/Fonts/ZhanKuKuaiLeTi2016XiuDingBan-1.ttf?fileID=12800000&guid=c2a2d2beacf962346b219257e8fee079&type=3#ZhanKuKuaiLeTi2016XiuDingBan-1");
}
